# Build output
**/bin
**/obj
**/out

# Node
**/node_modules
client-app/dist

# Git
.git
.gitignore

# VS / IDE
.vs
.vscode
**/*.user
**/*.suo

# Test projects
API.Tests

# Env files
.env
.env.*

# Logs
**/*.log
